@page
@model testingpage.Pages.LoginPage.EmailSuccessModel
@{
    Layout = "../Shared/LoginLayout.cshtml";
}
<p>
    <h2>Thank you for confirming your email. You can now login at <a asp-page="/LoginPage/Login">Login</a></h2>
</p>