@page
@model testingpage.Pages.LoginPage.ForgetPasswordModel
@{
    Layout = "../Shared/LoginLayout.cshtml";
}
<h2>Forget Password</h2>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="getEmail"></label>
        <input class="form-control" asp-for="getEmail" />
        <span asp-validation-for="getEmail" style="color:red"></span>
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Send</button>
    </div>
</form>
<label style="color:red">@ViewData["warning"]</label>
@section scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
