@page
@model testingpage.Pages.LoginPage.ResetPasswordModel
@{
    Layout = "../Shared/LoginLayout.cshtml";
}
<h2>Reset Password</h2>
<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="resetPasswordModel.Token" />
    <div class="form-group">
        <label asp-for="resetPasswordModel.Email"></label>
        <input class="form-control" asp-for="resetPasswordModel.Email" readonly />
    </div>
    <div class="form-group-row" style="margin-top:10px">
        <label asp-for="resetPasswordModel.Password"></label>
        <br />
        <input type="password" class="form-control" asp-for="resetPasswordModel.Password" />
        <span asp-validation-for="resetPasswordModel.Password" style="color:red"></span>

    </div>
    <p>
        -Minimum 8 characters<br />
        -Should have at least one number<br />
        -Should have at least one upper case<br />
        -Should have at least one lower case<br />
        -Should have at least one special character<br />
    </p>

    <div class="form-group">
        <label asp-for="resetPasswordModel.ConfirmPassword"></label>
        <input type="password" class="form-control" asp-for="resetPasswordModel.ConfirmPassword" />
        <span asp-validation-for="resetPasswordModel.ConfirmPassword" style="color:red"></span>
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-warning" onclick="window.location.href ='/LoginPage/Login';">Cancel</button>
        <button type="submit" class="btn btn-primary">Reset</button>

    </div>


</form>

@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
