@page
@model testingpage.Pages.LoginPage.ResetSuccessModel
@{
    Layout = "../Shared/LoginLayout.cshtml";
}
<p>
    <h2>Password has been reset. Please <a asp-page="/LoginPage/Login">Login</a></h2>
</p>