@page
@model testingpage.Pages.UserPage.UserProfileModel
@{
    var getrole = HttpContext.Request.Cookies["Role"];
    if (getrole == "Admin")
    {
        Layout = "../Shared/_Layout1.cshtml";
    }else if (getrole == "User")
    {
        Layout = "../Shared/_Layout.cshtml";
    }


}

<h2>Change Password</h2>
<form method="post">
    <div class="form-group" style="margin-top:10px">
        <label asp-for="userUpdate.old_password"></label>
        <input type="password" class="form-control" asp-for="userUpdate.old_password" />
        <span asp-validation-for="userUpdate.old_password" style="color:red"></span>
    </div>

    <div class="form-group">
        <label asp-for="userUpdate.password"></label>
        <input type="password" class="form-control" asp-for="userUpdate.password" />
        <span asp-validation-for="userUpdate.password" style="color:red"></span>
    </div>
    <p>
        -Minimum 8 characters<br />
        -Should have at least one number<br />
        -Should have at least one upper case<br />
        -Should have at least one lower case<br />
        -Should have at least one special character<br />
    </p>
    <div class="form-group">
        <label asp-for="userUpdate.comparePassword"></label>
        <input type="password" class="form-control" asp-for="userUpdate.comparePassword" />
        <span asp-validation-for="userUpdate.comparePassword" style="color:red"></span>
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>

    <label class="text-center" style="font-size:100%;color:red;">@Model.MessageKey</label>


@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
